<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.app.trackd">

    <uses-feature
            android:name="android.hardware.camera"
            android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:allowBackup="true"
            android:label="Trackd"
            android:theme="@style/Theme.TrackD.MD">
        <activity
                android:name=".activity.AlbumListActivity"
                android:exported="false"
                android:launchMode="singleInstance"
                android:label="@string/title_activity_album_list" />
        <activity
                android:name=".activity.MatchAlbumActivity"
                android:exported="false"
                android:launchMode="singleInstance"
                android:label="@string/title_activity_camera" />
        <activity
                android:name=".activity.AddAlbumActivity"
                android:exported="false"
                android:launchMode="singleInstance"
                android:label="@string/title_activity_add_album"
                android:windowSoftInputMode="adjustResize" />
        <activity
                android:name=".activity.EditAlbumActivity"
                android:exported="false"
                android:launchMode="singleInstance"
                android:label="@string/title_activity_edit_album"
                android:windowSoftInputMode="adjustResize" />
        <activity
                android:name=".activity.TaggingActivity"
                android:exported="false"
                android:launchMode="singleInstance"
                android:label="@string/title_activity_tagging"
                android:windowSoftInputMode="adjustResize" />
        <activity
                android:launchMode="singleInstance"
                android:name=".activity.MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.BarcodeScanActivity"
                android:exported="false" />
    </application>

</manifest>